* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', helvetica, sans-serif;
	color: #484848;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #484848;;
}

.clear-both {
	clear: both;
}

.view-width {
	width: 70%;
	margin: 0 auto;
}

h2 {
	font-weight: 700;
	font-size: 2rem;
}

h3 {
	font-weight: 400;
}

h3 span {
	font-weight: 300;
}

.cover {
	background-image: url('img/cover.png');
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center top; 
	width: 100%;
	height: 27rem;
	padding: 8rem 1rem;
	color: white;
}

.social {
	margin-top: 1rem;
}

.social img {
	margin-right: 1rem;
	width: 2rem;
}	

.card-container {
	padding: 1rem;
	padding: 3rem 1rem;
}

.card-container h2 {
	font-size: 1.7rem;
	font-weight: 300;
	margin-bottom: 3rem;
}

.card {
	padding: 2.5rem 3rem;
    border-radius: 0.3rem;
    margin-bottom: 3rem;
}

.card a {
	font-weight: 700;
}

.card >a img {
	float: left;
	width: 10%;
	margin-right: 3rem;
	min-width: 6rem;
	margin-bottom: 1.5rem;
}

.card h3 {
	font-weight: 300;
	font-size: 1.5rem;
}

.card-description {
	width: 75%;
	float: left;
}

.studi {
	background: #FBF4EC;
}

.kanjiday {
	background: #FFF4F6;
}

.hyperisland {
	background: #f5f5f5;
}

.studi h3 a:hover {
	color: #c2732b;
}

.kanjiday h3 a:hover {
	color: #de5d59;
}

.hyperisland h3 a:hover {
	color: #000;
}

.stack {
	margin-top: 2rem;
}

.stack a img {
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
    margin-right: 1.8rem;
    opacity: 0.6;
    padding-bottom: 1rem;
}

.stack a .angular {
	width: 3rem;
}

.stack a .sass {
	width: 3rem;
    margin-bottom: 0.4rem;	
}

.stack a .underscore {
	width: 5rem;
    margin-bottom: 1rem
}

.stack a .jquery {
	width: 2.8rem;
}

.stack a .git {
	width: 2.6rem;
    margin-bottom: 0.2rem;	
}

.stack a .analytics {
	width: 3.5rem;
}

.stack a .css {
	width: 2rem;
}

.stack a .sketch {
	width: 3rem;
}

.stack a .arduino {
	width: 3rem;
	margin-bottom: 0.2rem;	
}

.stack a img:hover {
	-webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0); 
    opacity: 1;
}

footer {
	background: black;
	color: white;
	padding: 1.8rem 6rem;
	text-align: center;
}

footer .social a img {
	width: 1.5rem;
}

footer p {
	margin-right: 1.5rem;
}

@media screen and (max-width: 1000px) { 
	.card {
		padding: 1.5rem 2rem;
	}

	.card-description {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.cover {
		height: 25%;
	}

    .view-width {
		width: 95%;
		margin: 0 auto;
	}

	.card >a img {
		float: left;
		width: 10%;
		margin-right: 3rem;
		min-width: 4rem;
		margin-bottom: 1.5rem;
	}

	.card-description {
		width: 100%;
		float: left;
	}

	.stack a img {
	    margin-right: 1.5rem;
	}

	.angular, .sass, .jquery, .git {
		width: 2.3rem !important;
	}

	footer {
		padding: 1.8rem 3rem;
	}

}























